DIV.node     {font-family: helvetica, sans-serif;
              font-size: 12px;
              padding-top: 5px;
              padding-bottom: 5px;
              padding-left: 2px;
              space-start: 2px;
              space-start: 2px;
              space-before: 2px;
              space-after: 2px;
              color: white;
              background-color: skyblue;}
BODY     {font-family: helvetica, sans-serif; font-size: 12px;}
A        {color: #606060; text-decoration: none;}
